h2 {
    color: black;
}

p {
    color: white;
}

.contact {
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 50vh;
}

label {
    color: black;
    font-size: 30px;
}

form {
    max-width: 600px;
    width: 100%;
    background: rgb(9, 205, 226);
    padding: 25px 25px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #333;
    margin: 25px;
}

form h2 {
    font-size: 30px;
    text-align: center;
}

form .input-box {
    margin-top: 20px;
}

input {
    height: 50px;
    padding-left: 20px;
}

.input-box label {
    margin-bottom: 8px;
    display: block; 
}

.imput-box .field {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #ddd;
    outline: none;
    border-radius: 6px;
    padding: 15px;
    font-size: 16px;
    color:#333;
    margin-top: 8px;
}

.imput-box .field.mess {
    height: 200px;
    resize: none;
}

textarea {
    height: 200px;
    width: 500px
}

form button {
    width: 100%;
    height: 55px;
    background: purple;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    color:#fff;
    font-weight: 500;
    margin-top: 25px;
}

form button:hover {
    background: lightskyblue;
}