h2 {
    color: black;
}

p {
    color: white;
}

.contact {
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
}

label {
    color: black;
}

form {
    max-width: 600px;
    width: 100%;
    background: white;
    padding: 25px 25px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #333;
    margin: 25px;
}

form h2 {
    font-size: 30px;
    text-align: center;
}

form .input-box {
    margin-top: 20px;
}